

.continer{

    text-align: center;
}

h1{
font-weight: bold;
font-size: 100px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
margin: 50px 0;
}
.continer p{

    font-size: 35px;
    margin: 40px 0;
    text-align: center;
}
.continer .btt{

    width: 250px;
    height: 70px;
    background-color: blue;
    color: white;
}
.continer button:hover{

    background-color: green;
}